extends ../layout/pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .clearfix
          h1.float-left.display-3.mr-4 404
          h4.pt-3 앗!
          p.text-muted 해당 페이지가 존재하지 않습니다